.exitButton{
    height: 15px;
    width: 15px;
    margin: 2px;
    position: absolute;
    left: 2%; top: 2%;
    float: top;
}

.itemPicture{
    width: 80%;
    height: 50%;
    position: relative;
    left: 50%; top: 30%;
    transform: translate(-50%);
    float: top;
    object-fit: cover;

}

.ModalView{
    height: 60vh;
    width: 40vw;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 1;
    filter: alpha(opacity=100) !important;
    background: #fff;
    z-index: 99999;
     box-shadow: 0px 0px 40px 30px rgba(128, 128, 128, 0.747);
    overflow-y: scroll;
    border-radius: 10px;
}

.currentItemName{
    font-size: 150%;
    font-weight: bold;
    position: absolute;
    top: 5%; left: 10%;
    //transform: translate(-50%);
}

.currentItemDescription{
    font-size: 100%;
    position: absolute;
    top: 15%; left: 10%;
    color: gray;
    width: 80%;
    //height: 50px;
    //transform: translate(-50%);
}

.addToCartTag{
    //height: 50px;
    //width: 100px;
    position: absolute;
    bottom: 3%; left: 50%;
    transform: translate(-50%);
    background-color: rgb(218, 31, 31);
    padding: 10px;
    font: white;
    border-radius: 3px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}

.addToCartTag:hover{
    //height: 50px;
    //width: 100px;

    background-color: rgb(240, 70, 70);
    cursor: pointer;
    

}

